* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

#map-container {
  width: 100%;
  height: 100vh;
}

.region-name {
  position: fixed;
  inset: 0;
  font-size: 24px;
  margin: 0 auto;
  padding: 24px;
  height: 30px;
}
